<!DOCTYPE html>
<html>

<head>    
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <meta charset="utf-8">
    <meta name="description" content="Boogle2">
    <meta name="keywords" content="html, css, smartninja, ljubljana">
    <meta name="author" content="Uroš Čokl">
    <title>BOOGLE</title>
</head>
    
<body>

    <div class="topbar">
        <div class="navbar">
        <a class="navbtn" href="https://mail.google.com/mail/?tab=wm" data-pid="23" data-ved="0CA4Qwi4oAA">Gmail</a>
        <a class="navbtn" href="https://www.google.si/imghp?hl=sl&amp;tab=wi&amp;ei=DX1CVruJJ6LQygPv0KLQDA&amp;ved=0CA8Qqi4oAQ" data-pid="2">Slike</a>
        <a class="navbtn" style="line-height:45px"  href="https://www.google.si/intl/sl/options/" title="Google Apps" aria-haspopup="true" aria-expanded="false" data-ved="0CBAQvSc"><img src="https://storage.googleapis.com/material-icons/external-assets/v1/icons/svg/ic_apps_black_24px.svg"/></a>
        <div class="btn-prijava"><a id="btn-p-clr" href="https://accounts.google.com/ServiceLogin?hl=sl&amp;continue=https://www.google.si/%3Fgws_rd%3Dcr%26ei%3DundCVuq8K4nXygPI1oWQCA" target="_top">Prijava</a></div>
        </div>
    </div>
    <div class="page">
        
        <div id="logobox"><img src="http://s16.postimg.org/wapd3r2lh/Booglelogo_300x110.jpg"/></div>
        
        <div class="srcbox">
            <div class="srcnav">
            <div class="srcnav-btn"><a class="srcbox-btn" href=""> <img src="https://storage.googleapis.com/material-icons/external-assets/v1/icons/svg/ic_keyboard_voice_black_24px.svg"/></a></div>
            <div class="srcnav-btn"><a class="srcbox-btn" href=""><img src="https://storage.googleapis.com/material-icons/external-assets/v1/icons/svg/ic_keyboard_black_24px.svg"/></a></div>
            </div>        
        </div>
        <div class="gumbbox">
            <div class="gumb" style="float:left">Iskanje Boogle</div>  
            <div class="gumb" style="float:right">Klik na srečo</div>
        </div>
    </div>
    
    <div class="footer">
        <div class="footlink" style="float:left">
            <a class="footbtn" href="https://www.google.si/intl/sl/ads/?fg=1">Oglaševanje</a>
            <a class="footbtn" href="https://www.google.si/services/?fg=1">Posel</a>
            <a class="footbtn" href="https://www.google.si/intl/sl/about.html?fg=1">Predstavitev</a>
        </div>
        
        <div class="footlink" style="float:right">
            <a class="footbtn" href="https://www.google.si/intl/sl/policies/privacy/?fg=1">Zasebnost</a>
            <a class="footbtn" href="https://www.google.si/intl/sl/policies/terms/?fg=1">Pogoji</a>
            <a class="footbtn" href="https://www.google.si/preferences?hl=sl">Nastavitve</a>
        </div>
        
     
        
    </div>
    
    
</body>
    
    